body {
  font-family: sans-serif;
  text-align:center;
  margin:0 auto;
  width:100%;
  background:#444;
  font-family: tahoma;
}

#content{
	font-family: sans-serif;
	margin:auto;
	text-align:center;
	width:80%;
	background:#FFF;
	padding: 20px 40px 20px 40px;
	}
	
#nav {
     font-family: sans-serif;
	 width: 100%;
     background: #333;
	 font-size:11pt;
	 display:inline-block;
	 letter-spacing:1px;
	 text-transform: uppercase;
	 
}	

h1 {
  font-size: 10pt;
  font-family: sans-serif;
  line-height:0.5;
  padding-bottom:30px;
  letter-spacing: 7px;
  text-transform: uppercase;
  color:#000;
  }
  
h2 {
  font-size:14pt;
  font-family: sans-serif;
  padding-top:10px;
  padding-bottom:0px;
  color:#90A4C5;
  text-transform: uppercase;
}

h3 {
  font-size:12pt;
  font-family: sans-serif;
  padding-top:10px;
  padding-bottom:0px;
  color:#90A4C5;
  text-transform: uppercase;
}
  
p {
  line-height: 25px;
  font-size:11pt;
  margin-left: 48px;
  padding-right:30px;
  font-family: sans-serif;
}

ul {
  line-height: 25px;
  font-size:11pt;
  padding-right:30px;
  font-family: sans-serif;
}

ol {
  line-height: 25px;
  font-size:11pt;
  padding-right:30px;
  font-family: sans-serif;
}

 
#nav ul {
     margin: auto 0;
     padding: 0;
     list-style: none;
	 text-align:center;

}
 
#nav ul li {
	display:inline-block;

}
 
#nav ul li a {
     padding: 10px 15px;
     display: block;
     color: #fff;
     text-decoration: none;
}
 
#nav ul li a:hover {
     background: #A16489;
     color:#FFF;
}

#footer {
  padding: 10px 40px 10px 40px;
  background-color: #555;
  font-family: sans-serif;
  color:white;
  font-size:small;
  line-height:16px;
  clear: left;
}


#bilder{
  text-align: center;
  padding-bottom: 100px;
  
}




@media screen and (max-width:700px)

{
	
#contentRight{
	float:left;
	clear:left;
	width:100%;
	margin-top:30px;
		
	}
#contentLeft{
	width:100%;

	}
	
#nav{
	position: fixed;
    width: 80%;
	 height:auto;
	 display:block;
	 line-height:1;
   top: 0;

	
	
	}
#section{
	margin-top:280px;
	
	}
	
#nav ul li {
	width:100%;
     display:block;
     text-align: center;
	 border-bottom:2px solid #FFF;
	 border-bottom-width:100%; 
	 border-left:hidden;
	 border-top:hidden;
	 border-right:hidden;
}

#nav ul li:last-child{
	border-bottom:0px solid;
	border-bottom-color:#0C0;
	
	}
#nav ul li a{
	
	width:auto;
	display:block;
	
	}
	

	
#bildRight{
	padding-top:30px;
	text-align:center;
  margin-left: 50px;
	
	}
	

.responsive {
	
	width:220px;
	height:auto;

}


	
	h1{
	font-size:20pt;
	line-height:1;	
		
		}
    
    .pageHeader {
  font-size: 20pt;
  margin-top: 50px;

	}
}
	
@media screen and (min-width:1500px)

{

	

.responsive {
	
	width:550px;
	height:auto;
	margin:0;

	
	}
	h1{
	font-size:48pt;
	line-height:1;	
		
		}
	}