body {
  font-family: sans-serif;
  text-align:center;
  margin:0 auto;
  width:100%;
  background:#90A4C5;
  font-family: tahoma;
  
  
}

#wrapper{
	margin:auto;
	text-align:left;
	width:80%;
	background:#FFF;
	
	}
	

#ueberschrift{
  margin-left:48px;

  
}

div {
  border: 0px dotted green; 
  padding:0px;
}

h1 {
  font-size: 45pt;
  font-family: tahoma;
  line-height:0.5;
  padding-bottom:30px;
  text-align: left;
  letter-spacing: 7px;
  text-transform: uppercase;
  color:#90A4C5;
  
  }
  
  .pageHeader {
  font-size: 45pt;
  font-family: tahoma;
  line-height:0.5;
  padding-bottom:30px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color:#90A4C5;
  font-weight: bold;
 
  
  }
  
h2 {
  font-size:14pt;
  
}
  
.fließtext {
  line-height: 25px;
  font-size:11pt;
  margin-left: 48px;
  padding-right:30px;
}
.unterüberschrift {
  padding-left: 80px;
}

#section{
	text-align:center;
	padding-top:45px;
	clear:left;
  margin-bottom:-30px;
	}
#homeText {
  float: right;
  width: 50%;
  margin-top: 300px;
  line-height: 25px;
  font-size:11pt;
  
}
#homeBild {
  
  float: left;
  margin-left:48px;
  margin-bottom: 60px;
  
 
  
}

#contentLeft{
  width:48%;
  float:left;
  border: 0px solid blue;
  padding-bottom:30px;
  margin-right: 50px;
}
#textLeft{
   float:left;
   margin-left: 48px;
}
#contentRight{
  width:45%;
  float:left;
  margin-top:100px;
  border: 0px solid;
}

#bildRight{
  float:left;
  padding-top: 210px;
  padding-bottom: 30px;

  
  
}

#impressum1 {
 
  
  float: left;
}
#impressum2 {
  float: left;
  padding-left: 30px;
  
}
#impressum3{
  clear:left;
}


  

#header {
  

}
#nav {
     width: 100%;
     background: #D984B4;
	 font-size:11pt;
	 display:inline-block;
	 letter-spacing:1px;
	 
}
 
#nav ul {
     margin: auto 0;
     padding: 0;
     list-style: none;
	 text-align:center;

}
 
#nav ul li {
	display:inline-block;

}
 
#nav ul li a {
     padding: 10px 15px;
     display: block;
     color: #fff;
     text-decoration: none;
}
 
#nav ul li a:hover {
     background: #A16489;
     color:#FFF;



}
#footer {
  
  background-color: #D984B4;
  color:white;
  font-size:small;
  line-height:40px;
  clear: left;
}




#bilder{
  text-align: center;
  padding-bottom: 100px;
  
}




@media screen and (max-width:700px)

{
	
#contentRight{
	float:left;
	clear:left;
	width:100%;
	margin-top:30px;
		
	}
#contentLeft{
	width:100%;

	}
	
#nav{
	position: fixed;
    width: 80%;
	 height:auto;
	 display:block;
	 line-height:1;
   top: 0;

	
	
	}
#section{
	margin-top:280px;
	
	}
	
#nav ul li {
	width:100%;
     display:block;
     text-align: center;
	 border-bottom:2px solid #FFF;
	 border-bottom-width:100%; 
	 border-left:hidden;
	 border-top:hidden;
	 border-right:hidden;
}

#nav ul li:last-child{
	border-bottom:0px solid;
	border-bottom-color:#0C0;
	
	}
#nav ul li a{
	
	width:auto;
	display:block;
	
	}
	

	
#bildRight{
	padding-top:30px;
	text-align:center;
  margin-left: 50px;
	
	}
	

.responsive {
	
	width:220px;
	height:auto;

}


	
	h1{
	font-size:20pt;
	line-height:1;	
		
		}
    
    .pageHeader {
  font-size: 20pt;
  margin-top: 50px;

	}
}
	
@media screen and (min-width:1500px)

{

	

.responsive {
	
	width:550px;
	height:auto;
	margin:0;

	
	}
	h1{
	font-size:48pt;
	line-height:1;	
		
		}
	}